<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h1>All Viruses Registered with the CDC</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a href="/">Add a Virus</a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Incubation</th>
                    <th>Discovered</th>
                </thead>
                <tbody>
                    {% for virus in viruses %}
                        <tr>
                            <td>{{virus.id}}</td>
                            <td>{{virus.name}}</td>
                            <td>{{virus.incubation_period}} days</td>
                            <td>{{virus.discovered}}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</body>
</html>